body {
  margin-top: 50px;
  background: #FFF;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  font-weight: 300;
  min-width: 320px;
}
body.home {
  background: #FFF !important;
}
p {
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  color: #b1700e;
}

a:hover, a:visited {
  color: #003f2c;
}

ul {
  padding-left: 1em;
}
ul.bold {
  font-weight: 400;
}

/*Forms*/
form input, form select, form button.btn-primary {
  background-color: #F5F5F5;
  font-size: 24px;
  border: 2px solid #707070;
  border-radius: 4px;
  margin-top: 12px;
  padding: 6px;
}

form select {
  background: #e7e7e7;
}

form button.btn-primary {
  margin-top: 18px;
  padding: 4px 16px;
  font-size: 24px;
  color: #b2710f;
 }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #454545;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #454545;
}

nav {
  font-family: 'Crete Round', serif;
  background: #FFF;
  background-color: rgba(255, 255, 255, .92);
  height: 50px;
}
nav a {
  color: #000;
}
.navbar, .navbar-header {
  box-shadow: 0px 10px 6px -5px rgba(0,0,0,0.27);
  z-index: 9;
}
nav.navbar {
  position: absolute;
}
.navbar-header {
  position: relative;
}
@media (max-width: 767px) {
  nav {
    height: auto;
  }
  #navbar {
    position: relative;
    background-color: #f5f5f5;
    padding-top: 60px;
    height: auto;
    z-index: 1;
  }
  .navbar {
    box-shadow: none;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar .navbar-nav li a {
    font-family: 'Crete Round', serif;
    color: #b97e26;
    font-size: 28px;
    margin: 12px 0;
  }
  .navbar .navbar-nav li.dropdown.open>a, .navbar .navbar-nav li.dropdown>a:focus, .nav li.dropdown>a:active {
    background: transparent;
    color: #b97e26;
  }
  nav.navbar ul li.dropdown ul.dropdown-menu {
    box-shadow: none;
    margin: 12px 0;
  }
  nav.navbar ul li.dropdown ul.dropdown-menu a:hover {
    color: #ae6e29;
  }
  .navbar .navbar-nav li a span.caret {
    display: none;
  }
  .navbar .navbar-nav li ul a{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse ul.nav li.dropdown ul.dropdown-menu li:first-child {
    padding-top: 15px;
  }
  .navbar-collapse ul.nav li.dropdown ul.dropdown-menu li:last-child {
    padding-bottom: 15px;
  }
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar .navbar-nav li {
  font-size: 17px;
  margin: 0 16px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar .navbar-collapse.collapse.in {
  min-height: 200px;
  max-height: 500px;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #ae6e29;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav .open>a:active {
  background-color: transparent;
  color: #ae6e29;
}
.navbar ul li.dropdown ul.dropdown-menu {
  padding: 0 0;
  border: none;
  z-index: 0;
  box-shadow: inset 0px 4px 6px -3px rgba(0,0,0,0.27);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: transparent;
  color: #ae6e29;
}
.navbar ul li.dropdown li{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 0 0;
  margin: 0 0;
}

button.navbar-toggle {
  background: url('images/menu_open.png') no-repeat;
  background-size: 44px 34px;
}
button.navbar-toggle.collapsed {
  background: url('images/menu_closed.png') no-repeat;
  background-size: 44px 34px;
}

li.logo-placeholder {
  position: relative;
  width: 130px;
  height: 50px;
}

div.logo-container {
  position: absolute;
  top: 0;
  width: 130px;
  left: 50%;
  margin-left: -65px;
  background: #FFF;
  background: rgba(255, 255, 255, .92);
  background: linear-gradient(180deg, transparent 50px, rgba(255,255,255,.9) 50px);
  box-shadow: 0px 3px 4px -2px #333, 27px 26px 4px -26px rgba(0,0,0,0.27), -27px 26px 4px -25px rgba(0,0,0,0.27);
  padding: 8px 12px;
  border-radius: 4px;
  z-index: 10;
}

@media (max-width: 992px) {
  .navbar .navbar-nav li.logo-placeholder {
    width: 110px;
    margin: 0 0;
  }
  div.logo-container {
    width: 110px;
    margin-left: -55px;
  }
  div.logo-container img {
    width: 85px;
  }
  .navbar .navbar-nav li {
    font-size: 14px;
  }
}

.jumbotron {
  position: relative;
  top: -100px;
  height: 500px;
  overflow: hidden;
}

.jumbotron.small {
  height: 225px;
}
.jumbotron.small:after {
  display: none;
}
.jumbotron.no-v {
  height: 450px;
}
.jumbotron.no-v:after {
  display: none;
}

.jumbotron img{
  object-position: 0 50%;
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.jumbotron:after{
  display: block;
  position: absolute;
  top: 450px;
  width: 100%;
  height: 50px;
  content: '';
  background: #FFF;
  background: url(images/triangle-cutout.png) no-repeat 50%;
}

.jumbotron .left-border {
  position: absolute;
  background: #FFF;
  top: 450px;
  bottom: 0;
  left: 0;
  right: 50%;
  margin-right: 52px;
}

.jumbotron .right-border {
  position: absolute;
  background: #FFF;
  top: 450px;
  bottom: 0;
  left: 50%;
  right: 0;
  margin-left: 52px;
}

@media (min-width: 992px) {
  body {
    background: linear-gradient(90deg, #FFF 74%, #F5F5F5 0px);
  }
}

@media (max-width: 768px) {
  .jumbotron, .jumbotron.no-v {
    height: 350px;
  }
  .jumbotron img {
    height: 350px;
  }
  .jumbotron:after {
    top: 300px;
  }
  .jumbotron .left-border, .jumbotron .right-border {
    top: 300px;
  }
}

h1, h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
}

h2 {
    font-size: 36px;
    line-height: 1.5;
}

h3, h4 {
  font-family: 'Crete Round', serif;
  font-weight: 500;
}

h3 {
  font-size: 24px;
}

.container-fluid.first {
  padding-left: 45px;
  padding-right: 45px;
  margin-top: -100px;
}
.btn-primary {
  font-size: 30px;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  background-color: #af6c0b;
  border-color: #af6c0b;
}
.btn-primary:active, .btn-primary:active:hover {
  background-color: transparent;
  border-color: #af6c0b;
  color: #af6c0b;
}
button.btn {
  font-family: 'Crete Round', serif;
  border-color: #af6c0b;
  color: #af6c0b;
  background: transparent;
}
button.btn.apply {
  margin-top: 50px;
  padding: 16px;
}

div.block-nav {
    margin-top: 50px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 992px) {
  div.block-nav {
      padding-left: 25px;
      padding-right: 25px;
  }
  div.block-nav:first-child {
    padding-left: 15px;
  }
  div.block-nav:last-child {
    padding-right: 15px;
  }
}

div.block-nav .title{
  border-top: 1px solid #000;
  padding-top: 25px;
  font-family: 'Crete Round', serif;
  font-size: 24px;
}

div.block-nav .info {
  margin-top: 12px;
}

div.block-nav .link {
  background: url('images/arrowsprite.png') no-repeat;
  width: 48px;
  height: 44px;
  margin: 12px auto;
}

div.block-nav .link:hover {
  background: url('images/arrowsprite.png') no-repeat;
  background-position: -47px 0px;
}

div.testimonial {
  margin-top: 50px;
  margin-bottom: -50px;
  background: url('images/testimonial.png') no-repeat;
  background-size: cover;
}

div.testimonial .quote {
  padding: 110px 0;
  font-family: 'Crete Round', serif;
  text-align: center;
  font-size: 34px;
  color: #FFF;
}

div.free-mortgage-information {
  margin-top: 40px;
  padding-top: 12px;
  border-top: 1px solid #000;
}
div.free-mortgage-information a {
  color: #003f2c;
}
div.free-mortgage-information ul {
    list-style: none;
    padding-left: 0;
}
div.free-mortgage-information ul li {
  padding-top: 12px;
  font-size: 24px;
}

footer {
  background-color: #4a4a4a;
  background-image: url('images/footer_bg.png');
  background-size: cover;
  color: #FFF;
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 50px;
  text-align: center;
}

footer > div > div.row > div{
  margin-top: 50px;
}

footer .contact .title {
  font-family: 'Crete Round', serif;
  font-size: 24px;
}
footer .contact .info {
  font-size: 18px;
}
footer .links ul{
  list-style: none;
  font-family: 'Crete Round', serif;
  font-size: 24px;
  padding-left: 0px;
}
footer .logos .englewood-logo-white img{
  height: 100px;
}
footer .logos .equal-housing {
  margin-top: 50px;
}
footer .logos .equal-housing img {
  height: 50px;
}
footer .logos .nmls {
  margin-top: 10px;
}
